
  .reminder-form-field {
    display: block !important;
  }

  .no-reminders-alert {
    width: fit-content;
    border-radius: 5px;
  }

  .add-reminder-text {
    text-decoration: none;
    font-weight: bold;
  }

  .date-info {
    background-color: #2e73b4;
    color: #fff;
  }

  .expanded-view-title {
    background-color: #2e73b4;
    color: #fff;
  }
