/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cols-7 {
    position: relative;
    width: calc(100%/7);
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
