<div class="container">
  <div class="row calendar-actions">
    <div class="col-md-6 float-md-right"></div>
    <div class="col-md-6 float-md-right">
      <button mat-raised-button class="float-md-right add-reminder-btn" (click)="openReminderDialog()">Add Reminder</button>
    </div>
  </div>
  <div class="row month-grid">
    <div *ngFor="let day of days" class="cols-7 week-days-name">
      {{day}}
    </div>
    <div class="weeks">
      <div *ngIf="calendar">
          <app-calendar-date *ngFor="let day of calendar" [day]="day" [calendar]="calendar">
          </app-calendar-date>
      </div>
    </div>
  </div>
</div>
