<div class="container">
  <div class="row calendar-actions">
    <div class="col-md-6 float-md-right"></div>
    <div class="col-md-6 float-md-right">
      <button mat-raised-button class="float-md-right add-reminder-btn" (click)="openReminderDialog()">Add Reminder</button>
    </div>
  </div>
  <div class="row month-grid">
    <div *ngFor="let day of days" class="cols-7 week-days-name">
      {{day}}
    </div>
    <div class="weeks">
      <div *ngIf="calendar">
          <ng-container *ngFor="let day of calendar">
            <div class="calendar-date cols-7">
              <div class="row">
                <div class="calendar-day">{{day.date.date()}}</div>
              </div>
              <div class="row">
                <div class="reminder-badge"
                     *ngFor="let rem of day.reminder" (click)="editReminderDialog(rem)">
                  <mat-icon [style.color]="rem?.color">alarm</mat-icon>
                </div>
              </div>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>
