<h1 mat-dialog-title>Reminder creation</h1>
<div mat-dialog-content>
  <div *ngIf="forecast" class="weather-forecast">
    <mat-label>Weather forecast is: </mat-label><mat-chip>{{forecast.description}}</mat-chip>
  </div>
 <form #reminderForm="ngForm">
   <mat-form-field [ngClass]="{'reminder-form-field': true}">
     <mat-label>Description</mat-label>
     <input
       name="reminderDesc"
       maxlength="30"
       matInput
       [(ngModel)]="data.description" />
   </mat-form-field>
   <mat-form-field class="reminder-form-field">
     <input matInput
            name="date"
            [min]="currentDate"
            [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="reminderData.date" required>
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
     <mat-error *ngIf="!reminderData || !reminderData.date">Date must be selected</mat-error>
   </mat-form-field>
   <mat-form-field class="reminder-form-field">
     <input type="text"
            name="time"
            pattern="^(0[0-9]|1[0-9]|2[0-3]|[0-9]):[0-5][0-9]$"
            placeholder="Pick time"
            aria-label="Number"
            matInput [(ngModel)]="reminderData.time"
            [matAutocomplete]="timeAuto" required>
     <mat-error *ngIf="!reminderData || !reminderData.time">Time must be selected</mat-error>
     <mat-autocomplete #timeAuto="matAutocomplete">
       <mat-option *ngFor="let option of dayTime" [value]="option">
         {{option}}
       </mat-option>
     </mat-autocomplete>
   </mat-form-field>
   <mat-form-field class="reminder-form-field">
    <input
      name="reminderCity"
      type="text"
      placeholder="Pick a city"
      aria-label="Number"
      matInput
      (ngModelChange)="onCityChanges()"
      [(ngModel)]="reminderData.city"
      [matAutocomplete]="cityAuto">
    <mat-autocomplete #cityAuto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
   <mat-form-field class="reminder-form-field">
     <mat-label>Pick a Color</mat-label>
     <input name="reminderColor" matInput [(ngModel)]="reminderData.color" />
   </mat-form-field>
   <div mat-dialog-actions>
     <button mat-button [mat-dialog-close]="reminderData" cdkFocusInitial (click)="clearReminder()">Cancel</button>
     <button mat-button (click)="onAddClick(reminderData)" [disabled]="!reminderForm.valid">Add Reminder</button>
   </div>
 </form>
</div>
